{% extends "admin/base.html" %}
{% import "admin/commons/macros.commons.html" as macros %}

{% block mainContent %}
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Input Data Diagnosa</h4>
          <form class="forms-sample" method="POST" enctype="multipart/form-data">

            {{ macros.input("nama", label="Nama", required=True) }}

            {{ macros.input("tanggal_lahir", type="date", label="Tanggal Lahir", required=True) }}

            {{ macros.select("status_adat", options=options['status_adat'], label="Status Adat") }}

            {{ macros.select("tingkat_pendidikan", options=options['tingkat_pendidikan'], label="Tingkat Pendidikan") }}

            {{ macros.select("tingkat_ekonomi", options=options['tingkat_ekonomi'], label="Tingkat Ekonomi") }}

            {{ macros.select("pekerjaan", options=options['pekerjaan'], label="Pekerjaan") }}


            {{
              macros.radio(
                "hub_kel",
                label="Punya Hubungan Keluarga?",
                options=[
                  ("Ya", 1),
                  ("Tidak", 0)
                ]
              )
            }}

            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}