<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/static/user/js/jquery-3.2.1.min.js"></script>
	<script src="/static/user/js/popper.js"></script>
	<script src="/static/user/js/bootstrap.min.js"></script>
	<script src="/static/user/js/stellar.js"></script>
	<script src="/static/user/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/user/vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="/static/user/vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="/static/user/vendors/isotope/isotope-min.js"></script>
	<script src="/static/user/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/static/user/js/jquery.ajaxchimp.min.js"></script>
	<script src="/static/user/vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="/static/user/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/static/user/js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/static/user/js/gmaps.min.js"></script>
	<script src="/static/user/js/theme.js"></script>