<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/dataset">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Dataset</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/revisi">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Revisi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">Pengujian</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/pengujian/dataset"> Dataset</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/pengujian/single">Single</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
              <i class="mdi mdi-chart-pie menu-icon"></i>
              <span class="menu-title">Data User</span>
            </a>
          </li>
        </ul>
      </nav>