<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% include "admin/commons/head.snip.html" %}
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      {% include "admin/commons/topnav.snip.html" %}
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include "admin/commons/sidenav.snip.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block mainContent %}
          {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  {% block scriptContent %}
    {% include "admin/commons/scripts.snip.html" %}
  {% endblock  %}
  <!-- End custom js for this page-->
</body>

</html>

