{% extends "user/base.html" %}

{% block topScripts %}
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '675113982938013',
      xfbml      : true,
      version    : 'v3.3'
    });
  };
</script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script async defer src="/static/user/js/prediksi-top.js"></script>
{% endblock %}

{% block mainContent %}
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="contact.html">PREDIKSI</a>
						</div>
						<h2>PREDIKSI</h2>

					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Contact Area =================-->
        {% raw %}
        <section id="vue-app" class="contact_area section_gap">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 text-md-center">
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" v-bind:src="user.picture" alt="">
                            <h4>{{ user.nama }}</h4>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 hidden-xs">
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <form method="post" action="/prediksi" enctype="multipart/form-data">
                          <div class="form-group">
                            <label>Nama Anda Atau Pasangan Anda</label>
                            <input v-model="item.nama" class="form-control" type='text' name='nama' required/>
                          </div>
                          <div class="form-group">
                            <label>Tanggal Lahir Yang Bersangkutan</label>
                            <input v-model="item.tanggal_lahir" class="form-control" type='date' name='tanggal_lahir' required/>
                          </div>
                          <div class="form-group">
                            <label>Tingkat Pendidikan</label>
                            <select
                              name="tingkat_pendidikan"
                              v-model="item.tingkat_pendidikan"
                              class="form-control"
                            >
                              <option v-for="it in options.pendidikan" :key="it.value" v-bind:value="it.value">{{it.text}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Pekerjaan</label>
                            <select name="pekerjaan" class="form-control" v-model="item.pekerjaan">
                              <option v-for="it in options.pekerjaan" :key="it.value" v-bind:value="it.value">{{it.text}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Tingkat Ekonomi</label>
                            <select name="tingkat_ekonomi" class="form-control" v-model="item.tingkat_ekonomi">
                                <option v-for="it in options.ekonomi" :key="it.value" v-bind:value="it.value">{{it.text}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Status Adat</label>
                            <select name="status_adat" class="form-control" v-model="item.status_adat">
                                <option v-for="it in options.status_adat" :key="it.value" v-bind:value="it.value">{{it.text}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Memiliki Hubungan Kekeluargaan</label>
                            <div class="form-check">
                              <input class="form-check-input"
                                type="radio"
                                name="hub_kel"
                                value="1"
                                v-model="item.hub_kel"
                              >
                              <label class="form-check-label">
                                Ya
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input"
                                type="radio"
                                name="hub_kel"
                                value="0"
                                v-model="item.hub_kel"
                              >
                              <label class="form-check-label">
                                Tidak
                              </label>
                            </div>
                          </div>
                          <div class="contact_form">
                            <button id="submit-button" @click="submit" type="button" class="primary_btn">Prediksi</button>
                          </div>
                        </form>

                    </div>
                </div>

                <div class="row pt-4" v-if="result.status == 'valid'">
                    <div class="col-lg-3 hiddex-xs"></div>
                    <div class="col-lg-6 col-xs-12">
                        <ul class="list-group">
                          <li class="list-group-item">Jumlah Belis: {{ result.jumlah_belis }}</li>
                          <li class="list-group-item">Mamuli Kaki: {{ result.mamuli_kaki }}</li>
                            <li class="list-group-item">Mamuli Polos: {{ result.mamuli_polos }}</li>
                          <li class="list-group-item">Kuda: {{ result.kuda }}</li>
                          <li class="list-group-item">Kerbau: {{ result.kerbau }}</li>
                          <li class="list-group-item">Sapi: {{ result.sapi }}</li>
                          <li class="list-group-item">Uang: {{ result.uang }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--================Contact Area =================-->
        {% endraw %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/user/js/prediksi-bottom.js"></script>
{% endblock %}